@font-face {
    font-family: 'EF_jejudoldam';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_jejudoldam.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}



body{
    background-image: url('./img/bg.jpg');
    background-size: cover;
}

button{
    border-radius: 30px;
    border: none;

    color: rgb(255, 255, 255);
    font-family: 'EF_jejudoldam';
    font-weight: bolder;
    font-size: 20px;

    padding: 0.75rem 1.25rem;
    margin-top: 20px;

    cursor: pointer;
}

img{
    width: 160px;
}



.board-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}

.board{
    width: 760px;
    height: 670px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

    position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    
}

.main{
    width: 700px;
    text-align: center;
    margin: auto;
}

.main-title{
    font-family: 'EF_jejudoldam';
    color: #ff8997;
    font-size: 54px;
    margin: 90px 0;
}

.main-text{
    font-family: 'Pretendard-Regular';
    color: #f92392;
    margin-top: 100px;
}

.start-btn{
    background-color: #ff8997;
}

.game{
    text-align: center;
}


.score-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}


.name-title{
    display: flex;
    justify-content: center;

    font-family: 'EF_jejudoldam';
    color: #ff8997;
    font-size: 20px;

    margin-bottom: 10px;
}

.score-title{
    font-family: 'EF_jejudoldam';
    color: #f92392;
    font-size: 40px;

    margin: 30px;
}

.colon{
    font-family: 'EF_jejudoldam';
    color: #ff8997;
    font-size: 20px;

    margin: 35px 20px 0 20px;
}


#com_result{
    animation: boing 1s infinite;
    animation-direction: alternate;
}

@keyframes boing {
    from {
      transform: rotate(15deg);
    }
    to {
      transform: rotate(-15deg);
    }
  }


.timer-wrap{
    font-size: 20px;
    padding: 20px;
}

.timer-wrap span{
    margin: 20px;
    color: #22b156;
    font-weight: bolder;
    font-size: 30px;
}




.game-btn-wrap{
    margin: 30px;
}

.game-btn-wrap button{
    width: 150px;
    margin: 20px;
}

.scissors-btn{
    background-color: #f009aa;
    text-shadow: -3px 0 #da005b, 0 3px #da005b, 3px 0 #da005b, 0 -3px #da005b;
}

.rock-btn{
    background-color: #a01eda;
    text-shadow: -3px 0 #760fbb, 0 3px #760fbb, 3px 0 #760fbb, 0 -3px #760fbb;
}

.paper-btn{
    background-color: #707cff;
    text-shadow: -3px 0 #5d40ff, 0 3px #5d40ff, 3px 0 #5d40ff, 0 -3px #5d40ff;
}

.next-btn, .main-btn{
    background-color: #ff8997;
    text-shadow: -3px 0 #f009aa, 0 3px #f009aa, 3px 0 #f009aa, 0 -3px #f009aa;
}


.emoji{
    margin-top: 60px;
    font-size: 50px;
}


.copyright{
    color: rgb(255, 255, 255);
    font-family: 'Pretendard-Regular';
    font-size: 12px;
    position : absolute;
    bottom : 25px;
}